/target
.direnv/
docs/davesthesis.pdf
*.dot
*.svg

# Python
**/__pycache__/

# Profiling Output
profiling/perf_output/

# Added by code-review-graph
.code-review-graph/
.opencode.json
.claude/

# vscode settings
.vscode/

# Nix output
result

# Nix pre-commit hooks
.pre-commit-config.yaml